<div class="divheight">

    <script src="./src/actions/config/config.js"></script>
  
    <style>
      .clickable-row.active{
        background-color: #6262ff;
        color: white;
      }
  
      .clickable-row.active td{
        color: white;
      }
    </style>
  
    <div class="position-fixed w-100 border-top mt-2" style="background-color: white;">
  
        <h2 class="mt-2">Configuracion</h2>
          
        <!-- <div class="row mt-2 mb-2 pt-2 pb-2 border-bottom border-top justify-content-start no-gutters">  
            <div class="col-12">
            <button type="button" class="btn btn-outline-secondary" onclick="usrFunction()">Usuarios</button>
            <button type="button" class="btn btn-outline-secondary" onclick="taxFunction()">Impuestos</button>
            <button type="button" class="btn btn-outline-secondary" onclick="licFunction()">Licensia</button>
            </div>
            
        </div>    -->

        <!-- <div class="col">
          <div id="conf">
            <label>Passwo</label>>
          </div> 
          
        </div> -->

        <div class="row mt-2 mb-2 pt-2 pb-2 border-top">

          <div class="col-3" style="border-right: 2px solid">
            <label>Usuarios</label>
          </div>
          <div class="col-3" style="border-right: 2px solid">
            <label>Impuestos</label>
          </div>
          <div class="col-3" style="border-right: 2px solid">
            <label>Licensia</label>  
          </div>
          <div class="col-3" style="border-right: 2px solid">
            <label>Impresora</label>
          </div>
        </div>


          
    </div>
  
  </div>
    <!-- Div class body ends -->