<div class="divheight">
    <h2>Clientes</h2>

    <div class="row h-100">
        <!-- Half of the column containing product table -->

        <div class="col-12 d-flex flex-column">
           
            <div class="row mt-2">
                <table id="prd" class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <div class="border-right">
                        
                      </div>
                      <th scope="col">Id</th>  
                      <th scope="col">Cliente</th>
                      <th scope="col">Plan</th>
                      <!-- <th scope="col">Activo</th> -->
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th>
                        <input type="text"/>
                      </th>
                      <td>
                        <input type="text"/>
                      </td>
                      <td>
                        <input type="numer"/>
                      </td>
                      <td>
                        <button type="button" class="btn btn-outline-success">Agregar Cliente</button>
                      </td>
                    </tr>


                  </tbody>
        
                </table>    
            </div>

            <div class="row mt-2">

              <div class="row mt-2 border-top justify-content-start no-gutters">  
                <div class="col-12">
                  <h4>Lista de Clientes</h4>
                  <button type="button" class="btn btn-outline-warning">Editar Cliente</button>
                  <button type="button" class="btn btn-outline-danger">Borrar Cliente</button>
                  <input type="date">
                </div>
                
            </div>   
                
                <table id="prd" class="table table-striped table-hover table-bordered">
                   
                  <thead>
                    <tr>
                      <div class="border-right">
                        
                      </div>
                      <th scope="col">Id</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Plan</th>
                      <th scope="col">Activo</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th>
                       101
                      </th>
                      <td>
                        Juan Garza
                      </td>
                      <td>
                        600.00
                      </td>
                      <td>
                        Si <i class="fas fa-check"></i>
                      </td>
                    </tr>

                    <tr>
                        <th>
                         102
                        </th>
                        <td>
                          Eloy Vera
                        </td>
                        <td>
                          600.00
                        </td>
                        <td>
                          Si <i class="fas fa-check"></i>
                        </td>
                      </tr>

                      <tr>
                        <th>
                         103
                        </th>
                        <td>
                          Uriel Chapa
                        </td>
                        <td>
                          600.00
                        </td>
                        <td>
                          Si <i class="fas fa-check"></i>
                        </td>
                      </tr>

                      <tr>
                        <th>
                         104
                        </th>
                        <td>
                          Carlos Guerra
                        </td>
                        <td>
                          800.00
                        </td>
                        <td>
                          No <i class="fas fa-times"></i>
                        </td>
                      </tr>

                  </tbody>
        
                </table>    
            </div>
            
        </div>
        
     </div>
 
  </div>
  <!-- Div class body ends -->