<div class="divheight">
    <h2>Facturas</h2>

    <div class="row h-100">
        <!-- Half of the column containing product table -->

        <div class="col-12 d-flex flex-column">
           
            <div class="row mt-2">
                <table id="prd" class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <div class="border-right">
                        
                      </div>
                      <th scope="col">Id</th>  
                      <!-- <th scope="col">Activo</th> -->
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th>
                        <input type="text"/>
                      </th>
                      <td>
                        <button type="button" class="btn btn-outline-success">Buscar Cliente</button>
                      </td>
                    </tr>


                  </tbody>
        
                </table>    
            </div>

            <div class="row mt-2">

              <div class="row mt-2 border-top justify-content-start no-gutters">  
                <div class="col-12">
                  <input type="date">
                </div>
                
            </div>   
                
                <table id="prd" class="table table-striped table-hover table-bordered">
                   
                  <thead>
                    <tr>
                      <div class="border-right">
                        
                      </div>
                      <th scope="col">Ticket Id</th>
                      <th scope="col">Monto</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th>
                       10145
                      </th>
                      <td>
                        600.00
                      </td>
                    </tr>

                  </tbody>
        
                </table>    
            </div>
            
        </div>
        
     </div>
 
  </div>
  <!-- Div class body ends -->