<div class="divheight">
    <h2>Reportes</h2>

    <div class="row h-100">

        <div class="col-12 d-flex flex-column">

            <div class="row mt-2 border-top border-bottom justify-content-start no-gutters">  
                <div class="col-12">
                <input type="date" class="mt-4 mb-4">
                </div>
            
            </div>   

            <div class="row">
                <h3 class="mt-4">Importe: </h3>

            </div>
          
        </div>
        
     </div>
 
  </div>
  <!-- Div class body ends -->