<div class="divheight">

  <script src="./src/actions/cart.js"></script>
  <!-- <script type="module" src="./src/actions/printTicket.js"></script> -->

  <!-- Show the cart items -->
  <script>cart()</script>

  <style>
    .clickable-row.active{
      background-color: #dc3545 ;
      color: white;
    }

    .clickable-row.active td{
      color: white;
    }
    .header-fixed {
      width: 100% 
    }
    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        display: block;
    }

    .header-fixed > tbody > tr:after,
    .header-fixed > thead > tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .header-fixed > tbody {
        overflow-y: auto;
        height: 600px;
    }

    .header-fixed > tbody > tr > td,
    .header-fixed > thead > tr > th {
        width: 20%;
        float: left;
}

  </style>

  <div class="row h-100">

      <!-- 3/4 of the column containing product table -->
      <div class="col-9 d-flex flex-column">

          <div class="row mt-2 border-top position-fixed w-100" style="background-color: white;"> 
            <h2 class="mt-2">Ventas</h2> 
              <div class="col" style="background-color: white;">
                  <label class="h4 mt-2">Codigo de Producto: <i class="fas fa-barcode"></i></label>
                  <input id="srcPrd" type="text"/>
                  <button type="button" class="btn btn-outline-success" onclick="srcProduct()">Enter - Agregar Producto</button>
                  <button type="button" class="btn btn-outline-danger" onclick="deleteItem()">Borrar Articulo</button>
              </div>
              
          </div>         

          <div class="row mt-2 border-top" style="padding-top:93px; padding-left: 10px;">

            <h3 class="mt-2 position-fixed" style="padding-bottom:15px; background-color: white;">Carreton</h3>

            <div style="margin-top: 60px">
              <table id="vnt" class="vnt table table-hover table-borderless header-fixed">
                <thead>
                  <tr>
                    <th scope="col">Codigo </th>
                    <th scope="col" >Descripcion </th>
                    <th scope="col" >Precio Venta</th>
                    <th scope="col" >Cant./Peso(lb)</th>
                    <th scope="col" >Existencia</th>
                  </tr>
                </thead>
  
                <tbody id='vntBdyId' class="" >
              
                </tbody>
                
                </table>    
            </div>
            
          </div>
          
      </div>

      <!-- 1/4 of the column containing payment info -->
  
      <div class="col-3 border position-fixed end-0 mt-3" style="background-color: white;">

        <div class="txt">

          <h2 class="text-center border-bottom mt-2">Ticket</h2>
      
          <div class="row">
            <div class="col-6 text-end">
              <h5>Total:</h5>
            </div>
            <div class="col-6">
              <h5 id="totl">$0.00</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-6 text-end">
              <h5>IVA:</h5>
            </div>
            <div class="col-6">
              <h5 id="tx">$0.00</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-6 text-end">
              <h5>Total + IVA:</h5>
            </div>
            <div class="col-6">
              <h5 id="totlAndTx">$0.00</h5>
            </div>
          </div>

          <div class="row border-top">
            <div class="row mt-2 mb-2">
              <div class="col-6 text-end">
                <h5>Efectivo:</h5>
              </div>
              <div class="col-6">
                <input id="cashInput" type="number" min=""/>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="row mb-3">
          <div class="col-12 d-flex flex-wrap justify-content-center">
            <button type="button" class="btn btn-success" onclick="cashCharge()">Efectivo</button>
            <button type="button" class="btn btn-primary">Debito/Credito</button>
            <button type="button" class="btn btn-secondary">Imprimir ultimo ticket</button>
          </div>
        </div>
        
          
      </div>

    </div>
 
  </div>
  <!-- Div class body ends -->