<div class="divheight">
    <h1>Ventas</h1>

    <div class="row">
        <!-- Half of the column containing product table -->
        <div class="col-8 d-flex flex-column">
            <div class="row mt-2 border-top">  
                <div class="col">
                    <label class="h4">Codigo de Producto: </label>
                    <input type="text"/>
                    <button>Enter - Agregar Producto</button>
                </div>
                
            </div>                 
                <div class="row mt-2 border-bottom border-top">  
                    <div class="col">
                       
                        <label class="h4">Id de Cliente: </label>
                        <input type="text"/>
                        <button>Enter</button>
                      
                    </div>
                    
                </div>
            
            <div class="row mt-2">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Codigo/Id</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Precio Venta</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Existencia</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th>
                        5433256
                      </th>
                      <td>
                        Router
                      </td>
                      <td>
                        199.99
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                        4
                      </td>
                    </tr>
                    <tr>
                      <th>
                        5433256
                      </th>
                      <td>
                        Router
                      </td>
                      <td>
                        199.99
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                        4
                      </td>
                    </tr>
                    <tr>
                      <th>
                        5433256
                      </th>
                      <td>
                        Router
                      </td>
                      <td>
                        199.99
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                        4
                      </td>
                    </tr>
                    <tr>
                      <th>
                        5433256
                      </th>
                      <td>
                        Router
                      </td>
                      <td>
                        199.99
                      </td>
                      <td>
                        1
                      </td>
                      <td>
                        4
                      </td>
                    </tr>

                  </tbody>
        
                </table>    
            </div>
            
        </div>

        <!-- Half of the column containing payment info -->
    
        <div class="col-4 border">

          <div class="txt">

            <h2 class="text-center border-bottom">Ticket</h2>
       
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;Cliente: </h5>
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;Total:</h5>
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IVA: </h5>
            <h5>Total + IVA: </h5>
          </div>
          
          <button>COBRAR</button>
          <button>Imprimir ultimo ticket</button>
            
        </div>
  
        
     </div>
 
  </div>
  <!-- Div class body ends -->