<div class="divheight">

    <script src="./src/actions/login/login.js"></script>
  
    <style>
      .clickable-row.active{
        background-color: #6262ff;
        color: white;
      }
  
      .clickable-row.active td{
        color: white;
      }
    </style>
  
    <div class="position-fixed w-100 border-top mt-2" style="background-color: white;">
  
        <h2 class="mt-2">Login</h2>
  
        <!-- Half of the column containing product table -->
  
        <!-- <div class="col-12 d-flex flex-column"> -->
  
            <div class="row mt-2 pb-2 border-bottom border-top justify-content-start no-gutters">
              <div class="col-12 mt-3">
                <label>Nombre de usuario: </label>
                <input id="username" type="text"/>
                <label>Contraseña</label>
                <input id="password" type="password"/>
                <button type="button" class="btn btn-secondary" onclick="login()">Login</button>
              </div>
            </div>
        <!-- </div> -->
          
    </div>
  
  </div>
    <!-- Div class body ends -->